

.scene[active] {
	/*background-color: #999999;*/
	border-radius: 10px;
	border-style: dotted;
	border-color: #3494f4;
}

.scene {
	padding: 4px;
}

input {
}

button {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	border-bottom-color:#333;
	border:1px solid #61c4ea;
	background-color:#7cceee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#333;
	font-family:'Verdana',Arial,sans-serif;
	font-size:14px;
	text-shadow:#b2e2f5 0 1px 0;
	padding:5px
	margin: 5px;
}

#welcomeContainer {
	width: 960px;
	text-align: center;
	margin: auto;
}

#welcomeContainer input {
}

#welcomeContainer button {
}

#authorContainer {
	width: 960px;
	margin: auto;
	height: 540px;
}

#authorLeft {
	display: inline-block;
	width: 240px;
	margin: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
}

#scenes {
	display: block;
}

#saveBox {
	display: block;
	margin: auto;
	text-align: center;
	height: 40px;
}

#saveBox input {
	width: 500px;
}

#saveBox button {
}

#authorRight {
	height: 100%;
	display: inline-block;
	width: 720px;
	margin: 0;
	float: left;
}

#sceneEditor {
	display: block;
	white-space: nowrap;
	overflow: auto;
	padding: 4px;
}

#soundList {
	display: inline-block;
}

#newSoundDiv {
	display: inline-block;
}

#newSoundDiv input {
	width: 160px;
}

.sound {
	display: inline-block;
	width: 160px;
	text-align: center;
}

#soundbar {
	height: 32px;
	display: block;
}

.controllerNameRow{
	font-weight: bold;
}

.controllerParamRowName {
	display: inline-block;
	width: 120px;
	float: left;
	padding: 2px;
}

.controllerParamRow {
	height: 32px;
	padding: 2px;
}

.setStateButton{
	padding: 	10px;
}

.buttonContainer button {
	width: 160px;
	margin: 5;
	height: 32px;
	padding: 	10px;
}

#soundFiller {
	width: 160px;
	display: inline-block;
}