body {
    margin: 0;
    padding: 0;
}

#controllerContainer {
    margin: 20 auto;
    width: 100%;
    max-width: 480px;
    height: 480px;
    max-height: 100%;
    position: relative;
}

#connectorContainer {
    margin: 20 auto;
    width: 100%;
    max-width: 480px;
    height: 480px;
    max-height: 100%;
    position: relative;
}

#controllerContainer button {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    margin:auto
}

.innerContainer {
    margin: 5px auto;
    height: 45%;
    width: 95%;
}

#textcontainer {
    font-size: x-large;
    height: auto;
    margin: auto;
}

#controllerContainer p {
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

#toggle {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); 
    border:4px solid;
    border-radius:25px;
    margin:auto;
}

#pushbutton {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,20,150,.9)), color-stop(56%,rgba(54,22,200,.9)), color-stop(100%,rgba(61,23,255,.9)));;
    border:4px solid;
    border-radius:25px;
    margin:auto;
}

#twostatebutton {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,20,150,.9)), color-stop(56%,rgba(54,22,200,.9)), color-stop(100%,rgba(61,23,255,.9)));;
    border:4px solid;
    border-radius:25px;
    margin:auto;
}

#scenebutton {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,100,0,.9)), color-stop(56%,rgba(54,200,0,.9)), color-stop(100%,rgba(45,100,0,.9)));;
    border:4px solid;
    border-radius:25px;
    height:auto;
    margin:auto;   
}
