body {
	background-color: #111111;
	font-family: Calibri;
	font-size: 16px;
}

.topContainer {
	background: #B0AAB0;
	padding: 1px 20px;
}

.mainContainer {
	background: #B0AAB0;
	padding: 1px 20px;
	/*height: 100%;*/
}

.contentID {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}