body
{
background-color:#111111;
}
.soundSelectorDivID{ 
background: -webkit-linear-gradient( top left, 888888, #B0AAB0, #777777 );

} 
.contentID{ 
width: 600px ;
margin-left: auto ;
margin-right: auto ;
}	

