body {
	background-color: #111111;
	font-family: Calibri;
	font-size: 16px;
}

.topContainer {
	background: #B0AAB0;
	padding: 1px 20px;
	text-align: center;
	width: 960px;
	margin: auto;
}

.mainContainer {
	background: #B0AAB0;
	padding: 20px;
	width: 960px;
	margin: auto;
}

.textInput {
	width: 200px;
	text-align: center;
	font-size: large;
}

button {
	text-align: center;
	font-size: large;
	width: 64px;
}

p {
	margin: 0;
}

.activeText {
	font-family: Arial;
	font-size: large;
	color: #2222FF;
}